/* Organization Structure Styles */

/* Treant.js Base Styles */
.Treant {
    position: relative;
    overflow: auto;
    padding: 20px;
}

.Treant .node {
    width: fixed;
    margin: 2px;
    padding: 5px 5px;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Node Example Styles */
.nodeExample1 {
    width: 190px !important;
    height: auto;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nodeExample1 .node-name {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.nodeExample1 .node-title {
    font-size: 8px;
    color: #666;
}

.nodeExample1.divisi.pseudo {
    background: transparent;
    border: white;
}

/* Organization Level Colors */
.director {
    background-color: #1b1f45;
    color: white;
}

.divisi {
    background-color: #b2aa7d;
    color: white;
}

.department {
    background-color: #c7020d;
    color: white;
}

.section {
    background-color: #30475E;
    color: white;
}

.unit {
    background-color: #958d91;
    color: white;
}

/* Container Styles */
.container1 {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

/* Custom Node Styles */
.custom-node {
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    min-width: 100px !important;
    min-height: auto;
    position: relative;
    justify-content: space-between;
}

.custom-node-title {
    /* color: #fff; */
    font-weight: bold;
    font-size: 12px;
    flex: 1;
    text-align: center;
}

.custom-node-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.custom-btn {
    background: transparent;
    border: none;
    border-radius: 30px;
    /* color: pink; */
    font-weight: bold;
    padding: 4px;
    min-width: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Structure Organization Container */
#struktur-org {
    overflow: auto;
    width: 100%;
    height: 80vh;
    padding: 10px;
}

#zoom-target {
    display: inline-block;
    transition: transform 0.2s ease;
}

#struktur-org .Treant {
    overflow: visible !important;
    width: auto !important;
    height: auto !important;
}

#struktur-org .Treant .node-tree {
    transition: transform 0.2s ease;
    transform: scale(0.8);
}

/* Treant Zoom Controls */
.treant-zoom-controls {
    position: sticky;
    top: 10px;
    background: white;
    z-index: 999;
    padding: 5px;
    align-items: right;
    margin : 10px;
}

