/* Show Details */
.info-row {
    border: 1px solid #e4ecf7;
    border-radius: 14px;
    overflow: hidden;
    background: #fff;

}

.info-label {
    min-width: 150px;
    background: #ffff;
    color: #1E4178;
    font-weight: 600;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    border-right: 1px solid #e6eef7;
}

.info-value {
    padding: .75rem 1rem;
    color: #1E4178;
}

.info-row + .info-row {
    margin-top: .85rem;
}

.ol-clean {
    margin: 0;
    padding-left: 1.25rem;
}

.ol-clean li {
    margin-bottom: .25rem;
}

.btn-custom {
    background-color: #1E4178;
    color: #fff;
    border: 1px solid #1E4178;
}

.btn-custom:hover {
    background-color: #fff;
    color: #1E4178;
    border: 1px solid #1E4178;
}

/* Button pada Laporan */
.btn-filter {
    background-color: #1E4178;
    color: #fff;
    border: 1px solid #1E4178;
}

.btn-filter:hover {
    background-color: #16325f;
    color: #fff;
}

.btn-cancel {
    background-color: #fff;
    color: #1E4178;
    border: 1px solid #1E4178;
}

.btn-cancel:hover {
    background-color: #1E4178;
    color: #fff;
}

/*Button Cetak Laporan*/
.btn-print {
    background-color: #1E4178;
    color: #fff;
    border: 1px solid #1E4178;
}

.btn-print:hover {
    background-color: #16325f;
    color: #fff;
    border-color: #16325f;
}

.search-input,
.btn-print {
    height: 38px;
    font-size: 0.9rem;
}





/* Mobile responsive: label di atas value */
@media (max-width: 575.98px) {
    .info-label {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e6eef7;
    }
}
